.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-container{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.card_main{
    display: flex;
    width: 1240px;
    height: 132px;
    padding: 38px 42px 38px 42px;
    gap: 10px;
    border-radius: 8px ;
    background: #FFFFFF;
    align-items: center;
    cursor: pointer;
}
.card_main-top{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 350px;
}
.card_main-middle{
    width: 200px;
    text-align: center;
    margin-left: 400px;
    font-size: 21px;
    font-weight: 400;
    line-height: 25.41px;
    text-align: center;
    color: #000000;

}
.card_main-bottom{
    width: 200px;
    text-align: center;
}
.currentLastName{
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #000000;
}
.birthDate{
    font-family: Inter;
    font-size: 21px;
    font-weight: 400;
    line-height: 25.41px;
    text-align: left;
    color: #000000;
}
.waiting{
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #0E60AE;

}
.departed{
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #837D7D;

}
.new{
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #58D61D;
}
.visa-queue{
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #5292F480;

}
.invited{
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #0E60AE;
}
.refusal{
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: red;
}
.return{
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #cccc3a;
}


.status-block{
    display: flex;
    align-items: center;
   width: 220px;
    justify-content: space-between;
}
.trash{
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addAnketa-drop-down{
    display: flex;
    justify-content: space-between;
}
.addAnketa-drop-down-input{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.english-level-buttons{
    display: flex;
}
.card_main {
    text-decoration: none;
}

.card_main:hover, .card_main:focus {
    text-decoration: none;
}
