.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.home-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.card_main {
    display: flex;
    padding: 35px;
    gap: 10px;
    border-radius: 8px;
    background: var(--card-bg);
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    cursor: pointer;
    border-bottom: 1px solid var(--card-border);
    color: var(--color);
}

.card_main-top {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.card_main-middle {
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.card_main-bottom {
    width: 200px;
    text-align: center;
}

.currentLastName {
    font-size: 21px;
    font-weight: 600;
    text-align: left;
}

.birthDate {
    font-size: 21px;
    font-weight: 400;
    line-height: 25.41px;
    text-align: left;
}

.waiting {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #0E60AE;

}

.departed {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #837D7D;

}

.new {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #58D61D;
}

.visa-queue {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #5292F480;
}

.invited {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #0E60AE;
}

.refusal {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: red;
}

.return {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #cccc3a;
}


.status-block {
    display: flex;
    align-items: center;
    gap: 100px;
}

.english-level-buttons {
    display: flex;
}

.card_main {
    text-decoration: none;
}

.card_main:hover,
.card_main:focus {
    text-decoration: none;
}

.card_status_user {
    min-width: 200px;
    text-align: center
}
