header {}

.container.header-main {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50px;
}

.header-left a {
    width: 150px;
}

.header-middle {
    display: flex;
    list-style: none;
    gap: 46px;
    align-items: center;
}

.header-round {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #D9D9D9;
}

.link-no-underline {
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #0E60AE;
    font-family: sans-serif;
    transition: 0.2s;
}

.link-no-underline:hover {
    color: #FFA011;
}

.header-right {
    display: flex;
    gap: 33px;
    align-items: center;
}

.header-btn {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;
    color: #00509D;
    border: none;
    background: #F1F6FC;
    font-family: sans-serif;
    transition: 0.2s;
}

.header-btn:hover {
    color: #FFA011;
}

.active-link {
    color: #FFA011;
}

.together {
    width: 200px;
    margin-right: 100px;
    margin-left: -26px;
}
